/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}


/* CSS Variables */
:root {
    /* Colors */
    --primary-red: #EA5454;
    --primary-cyan: #44D3D2;
    --primary-blue: #549EF2;
    --primary-orange: #FCAE4A;
    --neutral-grey-500: #4D4F62;
    --neutral-grey-400: #6A7178;
    --neutral-white: #FFFFFF;
    --background: #FAFAFA;
    --text:#6A7178;
    /* Spacing */
    --space-xxs: calc(6 / 16 * 1rem);
    --space-xs: calc(8 / 16 * 1rem);
    --space-sm: calc(16 / 16 * 1rem);
    --space-md: calc(24 / 16 * 1rem);
    --space-lg: calc(32 / 16 * 1rem);
    --space-xl: calc(40 / 16 * 1rem);
    --space-xxl: calc(60 / 16 * 1rem);
    --space-xxxl: calc(74 / 16 * 1rem);

    /* Typography */
    --font-family: 'Poppins', sans-serif;
    /* Font Sizes */
    --font-xs: calc(13 / 16 * 1rem);
    --font-sm: calc(15 / 16 * 1rem);
    --font-md: calc(20 / 16 * 1rem);
    --font-lg: calc(24 / 16 * 1rem);
    --font-xl: calc(36 / 16 * 1rem);
    /* Font Weights */
    --font-extralight: 200;
    --font-regular: 400;
    --font-semibold: 600;
    /* Line Heights */
    --line-height-tight: 1.35;
    --line-height-normal: 1.40;
    --line-height-relaxed: 1.60;
    /* Letter Spacing */
    --letter-spacing-tight: -0.25px;
    --letter-spacing-normal: 0;
    --letter-spacing-wide: 0.25px;
}


/* Typography */

.display-header {
    font-family: var(--font-family);
    font-size: var(--font-lg);
    font-weight: var(--font-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
    margin-block-end: var(--space-sm);
}

.overline-header {
    font-family: var(--font-family);
    font-size: var(--font-lg);
    font-weight: var(--font-extralight);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
}

.subtitle-header {
    font-family: var(--font-family);
    font-size: var(--font-sm);
    font-weight: var(--font-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
}

.section-title {
    font-family: var(--font-family);
    font-size: var(--font-md);
    font-weight: var(--font-semibold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-normal);
}

.body-text {
    font-family: var(--font-family);
    font-size: var(--font-xs);
    font-weight: var(--font-regular);
    line-height: var(--line-height-relaxed);
    letter-spacing: var(--letter-spacing-normal);
    color: var(--neutral-grey-400);
}

/* Layout */

.container {
    line-height: var(--line-height-relaxed);
    background-color: var(--background);
    color: var(--neutral-grey-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxl);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    max-width: 19.75rem;
    text-align: center;
    margin-block-start: 3.5rem;
}

main {
    max-width: 19.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

/* Card */
.card {
    padding: var(--space-lg);
    background-color: var(--neutral-white);
    border-radius: .3rem;
    box-shadow: 0rem 0.2rem 1.2rem 0 gainsboro;
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    box-sizing: border-box;
}

.card img {
    max-width: 4rem;
    max-height: 4rem;
    align-self: flex-end;
    box-sizing: border-box;
    margin-block-end: 1rem;
    overflow: hidden;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
}

.supervisor {
    border-top: .3rem solid var(--primary-cyan);
}

.team-builder {
    border-top: .3rem solid var(--primary-red);
}

.karma {
    border-top: .3rem solid var(--primary-orange);
}

.calculator {
    border-top: .3rem solid var(--primary-blue);
}

/* Media Queries */
@media (min-width: 48rem) { /* Tablet */

    .container {
        flex: grid;
        gap: var(--space-xxl);
    }

    main {
        min-width: 40rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    }

    .card {
        max-width: 19rem;
    }

    .team-builder {
        grid-column: 1 / 3;
        grid-row: 1;
        justify-self: center;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 2;
    }

    .karma {
        grid-column: 2;
        grid-row: 2;
    }
    
    .calculator {
        grid-column: 1 / 3;
        grid-row: 3;
        justify-self: center;
    }

    header {
        max-width: 32rem;
    }

    .display-header {
        font-size: var(--font-xl);
    }

    .overline-header {
        font-size: var(--font-xl);
    }

    .body-text {
        font-size: var(--font-sm);
    }
}

@media (min-width: 80rem) { /* Desktop */

    header {
        margin-block-start: 6rem;
    }

    main {
        min-width: 68rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        padding-block-end: 7rem;
    }

    .card {
        max-width: 32rem;
    }

    .supervisor {
        grid-column: 1;
        grid-row: 1 / 3;
        align-self: center;
    }

    .team-builder {
        grid-column: 2;
    }

    .karma {
        grid-column: 2;
    }

    .calculator {
        grid-column: 3;
        grid-row: 1 / 3;
        align-self: center;
    }

    .body-text {
        font-size: var(--font-xs);
    }
}